*.sublime-workspace
*.sublime-project
*.py
*.pyc

paper/*
evaluation/*
site/*
src/CMakeFiles/*
src/cmake-modules/*
tmp/*

scratch.txt
CMakeCache.txt
Makefile
scratch_code.cpp
DisplayImage
process
test
trainSVM
